name: Tests

on:
  push:
    branches-ignore:
      - documentation
      - gh-pages
  pull_request: {}

jobs:
  test:
    name: ${{ matrix.testMode }} on Unity ${{ matrix.unityVersion }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - .
        unityVersion:
          - 2021.3.45f2
          - 2023.2.22f1
        testMode:
          - editmode

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ runner.os }}-${{ matrix.projectPath }}-${{ matrix.unityVersion }}-${{ matrix.testMode }}-${{ hashFiles('**/Packages/manifest.json', '**/Packages/packages-lock.json', '**/ProjectSettings/ProjectVersion.txt') }}
          restore-keys: |
            Library-${{ runner.os }}-${{ matrix.projectPath }}-${{ matrix.unityVersion }}-${{ matrix.testMode }}-
            Library-${{ runner.os }}-${{ matrix.projectPath }}-${{ matrix.unityVersion }}-
            Library-${{ runner.os }}-${{ matrix.projectPath }}-

      - name: Tests
        uses: game-ci/unity-test-runner@v4
        id: tests
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          testMode: ${{ matrix.testMode }}
          artifactsPath: test-results
          artifactsName: TestResults-${{ matrix.unityVersion }}-${{ matrix.testMode }}
